h1 {
    margin: 100px;
}

.top {
    position: relative;
}

.top-omoi {
    position: absolute;
    bottom: -30px;
    right: 20px;
    @import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
    font-family: 'Ubuntu Mono', monospace;
    font-size: 30px;
}

.br::before {
    content: "\A";
    white-space: pre;
}

/* flexbox */
 .flex-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  .li1, .li2, .li3 {
    color: white;
    height: 80px;
    line-height: 80px;
  }
  .li1 {
    background-color: #ffc562;
  }
  .li2 {
    background-color: #a0c3f7;
  }
  .li3 {
    background-color: #ff8db3;
  }
  
  .flex-list {
    display: flex;
  }
  .flex-list li {
    flex: auto;
  }
  
  /* タブレット向けレイアウト */
  @media (max-width: 1000px) {
    .flex-list {
      flex-wrap: wrap;
    }
    .flex-list li {
      width: 50%;
    }
  }
  
  /* スマホ向けレイアウト */
  /* ブレイクポイントが670px以下の時のメディアクエリを設定してください */
  @media (max-width: 670px) {
    /* .flex-listにflex-directionを指定してください */
    .flex-list {
      flex-direction: column;
    }
    
    /* .flex-list liにmarginを0 autoに指定してください */
    .flex-list li {
      margin: 0 auto;
    }
    
  }



.footer-content {
    background-color: #25c588;
}

.footer-relation__item {
    list-style: none;
}

.cp {
    position: relative;
    height: 300px;
}

.nm {
    position: absolute;
    bottom: 0px;
    text-align: center;
}
